Summary

This file contains the code for data preparation, traning, and testing
- Data Preparation, dataset used https://drive.google.com/file/d/19LmP_-UDSEOmCJwjYCRzz4EiRe_RK3Og/view?usp=sharing
- Loading data
- Calculate and add Age column to the patients dataframe
- Combining columns from different files
- Dropping unwanted columns
- Encoding LabValues according to the Gender, and LabName
- Converting Gender and Race to one-hot
- Preparating ground truth values
- Train/Test split
- Training a Machine Learning classifier
- Training a small neural network

The final train/test data was prepared for 170 DiagnosisCode of diabetes disease. The performance of the neural network classifiers is not upto the mark because the model was traned for less epochs and the model architecture was smaller. Also, enocoded 0/1 values were used for LabValue without converting the column to one-hot

# Prepare data for training and testing

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
%matplotlib inline

## Load dataset

In [2]:
# load google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# load data
patients = pd.read_csv('/content/drive/MyDrive/Molecular/PatientCorePopulatedTable.txt', index_col=False, delimiter='\t', ) 
admission = pd.read_csv('/content/drive/MyDrive/Molecular/AdmissionsCorePopulatedTable.txt', index_col=False, delimiter='\t', ) 
labs = pd.read_csv('/content/drive/MyDrive/Molecular/LabsCorePopulatedTable.txt', index_col=False, delimiter='\t', ) 
diagnoses = pd.read_csv('/content/drive/MyDrive/Molecular/AdmissionsDiagnosesCorePopulatedTable.txt', index_col=False, delimiter='\t', )

In [4]:
patients.head(1)

                              PatientID  ... PatientPopulationPercentageBelowPoverty
0  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...                                    15.6

[1 rows x 7 columns]

In [5]:
admission.head(1)

                              PatientID  ...         AdmissionEndDate
0  43556DC2-BCFC-45A8-84C3-1D3E4A11B02F  ...  1974-07-30 22:27:44.987

[1 rows x 4 columns]

In [6]:
labs.head(1)

                              PatientID  ...              LabDateTime
0  915BC24E-8C44-4D33-A386-CEA965B83F32  ...  1946-09-07 22:20:26.677

[1 rows x 6 columns]

In [7]:
diagnoses.head(1)

                              PatientID  ...                        PrimaryDiagnosisDescription
0  E74E9DF1-D8FD-41BC-8CDE-226CFE318E0B  ...  Drug or chemical induced diabetes mellitus wit...

[1 rows x 4 columns]

In [8]:
print('patients, shape', patients.shape)
print('admission, shape', admission.shape)
print('labs shape', labs.shape)
print('diagnoses shape', diagnoses.shape)

patients, shape (10000, 7)
admission, shape (36143, 4)
labs shape (10726505, 6)
diagnoses shape (36143, 4)

In [9]:
# unique recods in diagnoses
diagnoses.nunique()

PatientID                      10000
AdmissionID                       12
PrimaryDiagnosisCode            2625
PrimaryDiagnosisDescription     2618
dtype: int64

In [10]:
# Single patient data in the Lab
code = labs[labs.PatientID.str.startswith('915BC24E-8C44-4D33-A386-CEA965B83F32')] 
code.nunique()

PatientID         1
AdmissionID       3
LabName          35
LabValue        515
LabUnits         14
LabDateTime    1138
dtype: int64

## Calculate and add Age column to the patients dataframe

In [11]:
# function to find and add the Age to the merged dataframe
def findAge(dob):
  date_time_obj = datetime.datetime.strptime(dob, '%Y-%m-%d %H:%M:%S.%f')
  birth_date = date_time_obj.date()
  end_date = datetime.date(2021, 1, 1)
  time_difference = end_date - birth_date
  age = time_difference.days
  #print("days",age)
  #print(int(age/365.2425))
  return int(age/365.2425)

ages=[]
for value in range(len(patients['PatientDateOfBirth'])):
    datecol = patients['PatientDateOfBirth'][value]
    ages.append(findAge(datecol))    

# Add age column after DOB
patients.insert(3, "PatientAge", ages, True) 
patients.head(2)

                              PatientID  ... PatientPopulationPercentageBelowPoverty
0  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...                                   15.60
1  801AFB51-036F-40E3-BDFE-FED4844BE275  ...                                   13.23

[2 rows x 8 columns]

## Merge data from different files

In [12]:
# merge patients and labs
patients_labs = pd.merge(patients, labs, on = ['PatientID'], how='inner')
patients_labs.shape

(10726505, 13)

In [13]:
patients_labs.head(2)

                              PatientID  ...              LabDateTime
0  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...  2000-09-12 09:10:38.407
1  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...  2000-09-12 21:40:33.247

[2 rows x 13 columns]

In [14]:
# merge patients_labs and diangnoses
patients_labs_diagnose = pd.merge(patients_labs, diagnoses, on = ['PatientID', 'AdmissionID'], how='inner')
patients_labs_diagnose.shape

(10726505, 15)

In [15]:
#Check for nan vlaues
patients_labs_diagnose.isna().sum()

PatientID                                  0
PatientGender                              0
PatientDateOfBirth                         0
PatientAge                                 0
PatientRace                                0
PatientMaritalStatus                       0
PatientLanguage                            0
PatientPopulationPercentageBelowPoverty    0
AdmissionID                                0
LabName                                    0
LabValue                                   0
LabUnits                                   0
LabDateTime                                0
PrimaryDiagnosisCode                       0
PrimaryDiagnosisDescription                0
dtype: int64

In [16]:
# Get 50 random samples from the merged dataframe
temp50 = patients_labs_diagnose.sample(n=50)
temp50

                                     PatientID  ...                        PrimaryDiagnosisDescription
9087142   2F8776EB-CB46-4D02-A750-9FEB717BA066  ...  Psychological abuse complicating pregnancy, ch...
337754    45B7CF78-8ADF-4F45-A06A-07A35EB38023  ...  Neoplasm of uncertain behavior of retroperitoneum
5987398   ACA53276-8488-46EE-A045-BAB10C36B16A  ...  Type 1 diabetes mellitus with proliferative di...
982043    06C76D98-CAAE-4B82-9CFD-93157B7BE320  ...                     Hypertrophic disorders of skin
4092190   2625F76A-6CAE-4209-AF8D-64686C2BC2CC  ...  Rheumatoid arthritis with rheumatoid factor of...
8463648   F624163F-15E8-44D1-B1EA-FF95E6E43501  ...                         Contusion of adrenal gland
8017080   052EB7AB-6253-448C-8D66-3E43E554BF80  ...             Rheumatoid nodule, left ankle and foot
9945808   182AF252-4223-43E2-AF7B-799445A10A17  ...                                     Nail disorders
8758534   87BBEE4A-01E5-42B6-8E64-A6905158DC16  ...                           Opioid related disorders
8720909   E018A6F9-2D48-464A-A123-CD3BD248EC08  ...  Pre-existing hypertensive heart and chronic ki...
2585579   47465AEF-F929-4112-933C-7A54470C4A67  ...  Osteopathy in diseases classified elsewhere, l...
3498114   71DAC2EC-381B-46F9-A2A9-26B86A750B15  ...  Osteopathy in diseases classified elsewhere, l...
3073167   207BB0C4-DDF1-4DF0-8996-6D6AFF46ABAE  ...    Anemia in chronic diseases classified elsewhere
3718527   B12F442A-CBB4-4673-B864-E9AFA03AD025  ...     Malignant neoplasm of undescended right testis
1082904   56F5725E-9E61-4E49-96EA-F258FE42DAA4  ...  Encounter for screening for digestive system d...
9269369   DD04DEE4-1764-401A-A8F3-24EABA47909C  ...                  Kaschin-Beck disease, right wrist
4158707   A95BCD19-5353-4473-A9DC-B7E9A4CAACE8  ...  Cardiac arrest due to anesthesia during pregna...
10041018  1997E4B8-F373-413A-8197-96FD438EC03C  ...        Benign neoplasm of long bones of lower limb
151384    3F16BE24-3E52-4020-A60D-709EFC55AA77  ...                            Alcoholic liver disease
9861778   85DC0BEF-3644-46C6-8C57-6DFDFC564396  ...                           Von Willebrand's disease
5197361   7D8C6C3C-A833-413F-8664-2D6B219EFC4D  ...  Drug or chemical induced diabetes mellitus wit...
1418346   09B2404D-8E01-40CC-ACCE-B413E6C56796  ...                            End stage renal disease
6802614   56737098-EAFD-40F4-B1D4-E876BA7959A2  ...  Disorders of newborn related to slow fetal gro...
7186962   E1E86FAC-F55E-402E-84BD-4B58A9DF5BC0  ...  Pathological fracture in neoplastic disease, l...
3326565   4790F622-2B07-45EC-B355-5EFF4CAE7AC7  ...                    Noninfective disorders of pinna
8588511   D3B7996B-00C7-4324-B01F-BBF576D8C3C7  ...                 Psychophysical visual disturbances
6981474   14FF3D38-5FB3-4869-AC0F-03C937E832CF  ...                    Disorders of calcium metabolism
6914774   34E10428-A7AB-4E0D-A1D9-0EFD00657817  ...                    Noninfective disorders of pinna
9868447   A186452A-C1D5-47D6-8CF3-5ECA047953C7  ...                      Malignant neoplasm of choroid
8974584   D14D8178-015B-4B1A-91F8-95222DB67462  ...                  Malignant neoplasm of left retina
2253240   CB3438AD-0F46-4AD8-8A2D-D3C92D6091C2  ...  Post-transplant lymphoproliferative disorder (...
2110122   545710F6-A268-4BA3-ABA6-8CB762E599D0  ...                                   Myeloid leukemia
1425805   2EA51A37-9678-450E-B168-F9CCE949CBB4  ...          Myopathy in diseases classified elsewhere
9779753   684B450F-835A-4603-A9CB-49FB706E14BE  ...  Acute myeloid leukemia with 11q23-abnormality ...
630146    9D12BDA5-B506-44BD-839C-C8BDCEA29DEB  ...  Corneal deposits in metabolic disorders, right...
8812804   C289A9B6-F219-40D1-B801-5E92B2419B80  ...  Drug or chemical induced diabetes mellitus wit...
292717    25C46474-3E8F-4B11-8852-8196540E575D  ...  Benign neoplasm of soft tissue of retroperiton...
365314    108B06ED-347B-496F-AB3E-3D0F42906C69  ...  Rheumatoid vasculitis with rheumatoid arthriti...
7537208   11377D16-44BE-491B-9EE2-EF8444EEC8DF  ...                   Malignant neoplasm of subglottis
3007966   7D6577BD-7F6D-4343-8CA1-689EE0FE71D2  ...                       Vascular anomalies of eyelid
6420099   DD4A2E75-D1B0-4DB0-B270-A1962455511A  ...                      Malignant neoplasm of bladder
9856199   4ACA42BA-5B0B-49C7-9792-55A00F109A99  ...    Mature B-cell leukemia Burkitt-type, in relapse
2689535   AEAFAE8D-7458-4725-9AD2-66FBF1B88E52  ...             Benign neoplasm of right adrenal gland
9643252   6776B7DD-ED84-4E4A-B59B-9736616707D1  ...  Malignant neoplasm of posterior wall of hypoph...
6619413   40A0E272-9F70-466E-AC3F-B1A535FF7302  ...  Disorders of muscle in diseases classified els...
1207121   0958CA9A-8E19-4837-BBFB-3F1AA6BE02BF  ...         Chronic total occlusion of coronary artery
9536076   D264A8B7-5AC5-4964-BFF2-05C5BC877CDA  ...                                  Cardiac tamponade
2123089   5F5282F6-42D3-412B-8DD8-87256D3BB670  ...          Gout due to renal impairment, right elbow
1034343   1FE7A6C0-579B-40E9-B555-25DAFC0F9A9B  ...  Hallucinogen abuse with hallucinogen-induced p...
5810866   22D4BF48-BD7C-4BC5-8581-D8D95053A9E1  ...  Rheumatoid myopathy with rheumatoid arthritis ...

[50 rows x 15 columns]

## Drop unwanted columns

In [17]:
# drop columns
patients_labs_diagnose.drop(['PatientDateOfBirth', 'PatientMaritalStatus', 'PatientLanguage', 'PatientPopulationPercentageBelowPoverty', 'LabUnits',	'LabDateTime'], axis = 1, inplace=True)

In [18]:
patients_labs_diagnose.shape

(10726505, 9)

In [19]:
patients_labs_diagnose.head()

                              PatientID  ...            PrimaryDiagnosisDescription
0  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...  Malignant neoplasm of pituitary gland
1  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...  Malignant neoplasm of pituitary gland
2  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...  Malignant neoplasm of pituitary gland
3  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...  Malignant neoplasm of pituitary gland
4  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...  Malignant neoplasm of pituitary gland

[5 rows x 9 columns]

## Encode lab values to 0/1

In [20]:
# Lab test name, their min and max values for male and female
# The minimum and the maximum range is collected from Internet

# format: LabName, Male(min, max), Female (min, max)

test_range =[ ['CBC: HEMATOCRIT', [38.3, 48.6], [35.5, 44.9]],                    
              ['METABOLIC: ANION GAP', [8, 12], [8, 12]],      
              ['CBC: LYMPHOCYTES', [20, 40], [20, 40]],              
              ['CBC: HEMOGLOBIN', [13.5, 17.5], [11.5, 15.5]],    
              ['METABOLIC: SODIUM', [135, 145], [135, 145]],             
              ['METABOLIC: ALBUMIN', [3.4, 5.4 ], [3.4, 5.4 ]],             
              ['METABOLIC: BUN', [6, 20], [6, 20]],             
              ['CBC: NEUTROPHILS', [40, 60], [40, 60]],             
              ['METABOLIC: CALCIUM', [8.5, 10.2], [8.5, 10.2]],       
              ['METABOLIC: GLUCOSE', [3.9, 5.6], [3.9, 5.6]],

              ['URINALYSIS: PH', [4.5, 8.0], [4.5, 8.0]],
              ['METABOLIC: BILI TOTAL', [0.1, 1.2], [0.1, 1.2]],
              ['METABOLIC: POTASSIUM', [38.3, 48.6], [35.5, 44.9]],
              ['URINALYSIS: RED BLOOD CELLS', [38.3, 48.6], [35.5, 44.9]],
              ['METABOLIC: CARBON DIOXIDE', [23, 29 ], [23, 29 ]],
              ['METABOLIC: CREATININE', [0.6, 1.3], [0.6, 1.3]],
              ['URINALYSIS: SPECIFIC GRAVITY', [1.002, 1.030], [1.002, 1.030]],
              ['CBC: MEAN CORPUSCULAR VOLUME', [80,100], [80,100]],
              ['METABOLIC: CHLORIDE', [96, 106], [96, 106]],    
              ['METABOLIC: ALT/SGPT', [4, 36], [4, 36]],
             
              ['METABOLIC: AST/SGOT', [8, 33], [8, 33]],
              ['METABOLIC: ALK PHOS', [20, 130], [20, 130]],
              ['CBC: EOSINOPHILS', [0.03, 0.5], [0.03, 0.5]],
              ['CBC: ABSOLUTE NEUTROPHILS', [1.6, 6.5], [1.6, 6.5]],
              ['CBC: MCH', [25.4, 34.6], [25.4, 34.6]],
               ['URINALYSIS: WHITE BLOOD CELLS', [38.3, 48.6], [35.5, 44.9]],
              ['CBC: ABSOLUTE LYMPHOCYTES', [1.0, 3.1], [1.0, 3.1]],
              ['CBC: PLATELET COUNT', [150, 400], [150, 400]],
              ['CBC: RED BLOOD CELL COUNT', [4.7, 6.1], [4.2, 5.4]],
              ['CBC: WHITE BLOOD CELL COUNT', [4.5, 11.0], [4.5, 11.0]],
              ['CBC: RDW', [39, 46], [39, 46]],

              ['CBC: MCHC', [31, 36], [31, 36]],
              ['CBC: MONOCYTES', [0.3, 0.8], [0.3, 0.8]],
              ['METABOLIC: TOTAL PROTEIN', [6.0, 8.3], [6.0, 8.3]],
              ['CBC: BASOPHILS', [0.01, 0.08], [0.01, 0.08]]                   
      ]

test_range = sorted(test_range)
#test_range

The aove data were collected from the below urls
 - https://www.labtestzote.com/complete-blood-count-the-reference-range-in-male-and-females/
 - https://medlineplus.gov/ency/article/003644.htm
 - https://www.ucsfhealth.org/medical-tests/wbc-count
 - https://www.ucsfhealth.org/medical-tests/comprehensive-metabolic-panel
 - METABOLIC: POTASSIUM, URINALYSIS: RED BLOOD CELLS, URINALYSIS: WHITE BLOOD CELLS # random values

In [21]:
# get the name and value column
labname_value = pd.DataFrame(patients_labs_diagnose[['LabName', 'LabValue']])
uniquelab = labname_value['LabName'].unique()

# sort the lab name values by name
uniquelab = sorted(uniquelab)

In [22]:
# separate male and female recods (labname, gender, min, max)
labvalues_range_male=[]
labvalues_range_female=[]
for i in range(len(uniquelab)):
  labvalues_range_male.append([uniquelab[i], 'Male', test_range[i][1][0], test_range[i][1][1] ])  # lab, gender, min, max
  labvalues_range_female.append([uniquelab[i], 'Female', test_range[i][2][0], test_range[i][2][1] ])

In [23]:
# print a single record for each
print(labvalues_range_male[4])
print(labvalues_range_female[4])

['CBC: HEMATOCRIT', 'Male', 38.3, 48.6]
['CBC: HEMATOCRIT', 'Female', 35.5, 44.9]

In [24]:
# assign to df 
df = patients_labs_diagnose

In [25]:
# change LabValue 0/1 according to the condition: Gender, LabName, Min and Max LabValue

def encodeLabValues(labvalues_range_male, labvalues_range_female, df):
  for item in range(len(labvalues_range_male)): 
    name_m = labvalues_range_male[item][0]
    gender_m =  labvalues_range_male[item][1]
    minValue_m =  labvalues_range_male[item][2]
    maxValue_m =  labvalues_range_male[item][3]
    name_f = labvalues_range_female[item][0]
    gender_f =  labvalues_range_female[item][1]
    minValue_f =  labvalues_range_female[item][2]
    maxValue_f =  labvalues_range_female[item][3]
    #male
    c1 = (df.PatientGender==gender_m) & (df.LabName==name_m) & (df.LabValue>=minValue_m) & (df.LabValue<=maxValue_m)
    df.loc[c1, 'LabValue'] = 1
    #female
    c2 = (df.PatientGender==gender_f) & (df.LabName==name_f) & (df.LabValue>=minValue_f) & (df.LabValue<=maxValue_f)
    df.loc[c2, 'LabValue'] = 1

  # replace all other valules to 0
  df.loc[(df['LabValue']!=1.0), 'LabValue'] = 0
  return df

In [26]:
# get LabValue encoded as 0/1 for each LabName
enccode_df = encodeLabValues(labvalues_range_male, labvalues_range_female, df)
enccode_df.sample(n=10) # get 20 random records for cross check lab encoded values to make sure values are encoded properly

                                     PatientID  ...                        PrimaryDiagnosisDescription
4439469   827E7C9B-8F84-4293-8C3C-BD6F80A0B3DF  ...     Neoplasm of uncertain behavior of right ureter
415229    F0363379-D0A4-4F17-9690-8C4A57B2BC50  ...        Breakdown (mechanical) of cardiac electrode
6318982   275B442B-ABBA-4569-9D5E-F373258AFD4B  ...  Endocrine, nutritional and metabolic diseases ...
8825753   853B78C4-E619-4543-B6CA-9CE373AC8D33  ...         Drug or chemical induced diabetes mellitus
2241712   6C9000F1-5D82-4CEF-865E-5095D93C9E7E  ...                     Benign neoplasm of spinal cord
10418059  98C59B67-E9D9-4809-9EB0-293F4D898696  ...  Disorders of muscle in diseases classified els...
3384162   93DD56A5-C312-4030-AA15-9174589B2BEB  ...  Acute nephritic syndrome with dense deposit di...
3976369   01008EF7-0DF9-4455-A522-FEBE365414A9  ...                Pulmonary interstitial glycogenosis
5861277   5E29B37F-7275-4BD7-A500-7F20727105A9  ...  Psychological abuse complicating pregnancy, se...
3706247   4E9B83E9-7E4D-4641-BF77-C5A74ED271D5  ...  Antepartum hemorrhage with disseminated intrav...

[10 rows x 9 columns]

## Convert Gender and Race to one-hot

In [27]:
orig=enccode_df.copy()

In [28]:
# convert Gender to one-hot vector
one_hot_gender = pd.get_dummies(enccode_df['PatientGender'], prefix='gender')

In [29]:
orig=orig.join(one_hot_gender)
orig.head()

                              PatientID  ... gender_Male
0  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...           1
1  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...           1
2  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...           1
3  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...           1
4  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12  ...           1

[5 rows x 11 columns]

In [30]:
# convert Race to one-hot vector
one_hot_PatientRace = pd.get_dummies(enccode_df['PatientRace'], prefix = 'Race')
orig=orig.join(one_hot_PatientRace)

# Drop original Gender and race column
orig = orig.drop(['PatientGender', 'PatientRace'], axis = 1)
orig.head()

                              PatientID  PatientAge  ...  Race_Unknown Race_White
0  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12          45  ...             0          1
1  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12          45  ...             0          1
2  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12          45  ...             0          1
3  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12          45  ...             0          1
4  3A3C2AFB-FFFA-4E69-B4E6-73C1245D5D12          45  ...             0          1

[5 rows x 13 columns]

## Prepare Y

In [31]:
original2=orig.copy()

In [63]:
# select data for final training and testing for PrimaryDiagnosisCode starting with below code
diabetes1 = original2[(original2['PrimaryDiagnosisCode'].str.startswith('E08')) | 
                      (original2['PrimaryDiagnosisCode'].str.startswith('E09')) |
                      (original2['PrimaryDiagnosisCode'].str.startswith('E10')) |
                      (original2['PrimaryDiagnosisCode'].str.startswith('E11'))
                       ]

codes = diabetes1['PrimaryDiagnosisCode'].unique()
final_data = original2.loc[original2['PrimaryDiagnosisCode'].isin(codes)]

In [64]:
final_data.sample(10)

                                    PatientID  ...  Race_White
2261551  F68950BF-FFB5-4DEE-86D8-A3A2F5DF47BC  ...           1
1711302  BCD190C2-4016-4870-8A1B-E803DCE56B20  ...           0
5839313  6BE68512-0245-41DB-9901-FEFC07233374  ...           0
3251265  CC6BFFB5-4920-4D74-8080-C3D08159C2F6  ...           0
1406175  4AB007D8-EB13-49BF-9FB0-EF87EFB32131  ...           1
389260   A6F66055-7850-4AC2-A2B3-6EA4BB8B6B1E  ...           0
897202   B51A9A51-A174-4586-9057-59D52FDDF999  ...           0
4174238  FC2058D4-F6C3-4B41-83BD-5272CF59E366  ...           0
3522064  3E9E05E8-1515-4F4F-9A06-C29289430FCC  ...           1
2176912  B9F48EC2-72E4-474C-8376-4FC9F859DC41  ...           0

[10 rows x 13 columns]

In [67]:
# seprate truth values (codes)
truth_data = final_data['PrimaryDiagnosisCode']

# Drop original diagnosiscode column and others from final data
final_data = final_data.drop(['PrimaryDiagnosisCode', 'PatientID', 'AdmissionID', 'PrimaryDiagnosisDescription', 'LabName'], axis = 1)
final_data.head()

     PatientAge  LabValue  gender_Female  ...  Race_Asian  Race_Unknown  Race_White
754          56       0.0              0  ...           0             0           1
755          56       1.0              0  ...           0             0           1
756          56       1.0              0  ...           0             0           1
757          56       0.0              0  ...           0             0           1
758          56       0.0              0  ...           0             0           1

[5 rows x 8 columns]

## Divide the data into training and testing

In [68]:
import numpy as np
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(final_data, truth_data, test_size=0.33, random_state=42)

In [69]:
X_train.shape, y_train.shape

((456970, 8), (456970,))

In [70]:
 X_test.shape, y_test.shape

((225075, 8), (225075,))

# Train models on the dataset

### Train a DecisionTreeClassifier

In [76]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
# training a DescisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier

model_dt = DecisionTreeClassifier(max_depth = 40).fit(X_train, y_train)
model_predicted = model_dt.predict(X_test)

print('Train accuracy', model_dt.score(X_train, y_train))
print('Test accuracy', accuracy_score(y_test, model_predicted))

Train accuracy 0.3106746613563254
Test accuracy 0.3059868932578029

In [77]:
# save model
import pickle
pickle.dump(model_dt, open('model_DT.pk','wb'))
print("model saved")

model saved

In [89]:
# predict on a simgle sample
newsample = X_test[0:1]
predicted = model_dt.predict(newsample)
print('Model predicted class', str(predicted))

# get PrimaryDiagnosisDescription based on the predicted code
#enccode_df[enccode_df['PrimaryDiagnosisCode']=='E09.4']

result = enccode_df.loc[enccode_df['PrimaryDiagnosisCode']=='E09.4']
result['PrimaryDiagnosisDescription'][0:1]

Model predicted class ['E09.4']

645166    Drug or chemical induced diabetes mellitus wit...
Name: PrimaryDiagnosisDescription, dtype: object

### Train a Neural network

In [100]:
# Encode truth values
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
code_dd = label_encoder.fit_transform(truth_data)

In [102]:
import numpy as np
# Import Keras modules
from keras import models
from keras import layers
#from keras.utils import to_categorical
from tensorflow.keras.utils import to_categorical
#
# Create the network
network = models.Sequential()
network.add(layers.Dense(512, activation='relu', input_shape=(8,)))
network.add(layers.Dense(170, activation='softmax'))
#
# Compile the network#
network.compile(optimizer='rmsprop',
                loss='categorical_crossentropy',
                metrics=['accuracy'])

X_train, X_test, y_train, y_test = train_test_split(final_data, code_dd, test_size=0.33, random_state=42)

# Create categorical labels
train_labels = to_categorical(y_train)
test_labels = to_categorical(y_test)
#
# train the neural network
network.fit(X_train, train_labels, epochs=20, batch_size=40)

Epoch 1/20
11425/11425 [==============================] - 40s 3ms/step - loss: 4.7444 - accuracy: 0.0293
Epoch 2/20
11425/11425 [==============================] - 43s 4ms/step - loss: 4.4685 - accuracy: 0.0433
Epoch 3/20
11425/11425 [==============================] - 42s 4ms/step - loss: 4.4024 - accuracy: 0.0471
Epoch 4/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.3659 - accuracy: 0.0484
Epoch 5/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.3487 - accuracy: 0.0485
Epoch 6/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.3563 - accuracy: 0.0482
Epoch 7/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.3750 - accuracy: 0.0476
Epoch 8/20
11425/11425 [==============================] - 42s 4ms/step - loss: 4.3751 - accuracy: 0.0481
Epoch 9/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.4134 - accuracy: 0.0467
Epoch 10/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.4341 - accuracy: 0.0465
Epoch 11/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.4353 - accuracy: 0.0471
Epoch 12/20
11425/11425 [==============================] - 40s 3ms/step - loss: 4.4414 - accuracy: 0.0469
Epoch 13/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.4505 - accuracy: 0.0473
Epoch 14/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.4855 - accuracy: 0.0453
Epoch 15/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.5048 - accuracy: 0.0445
Epoch 16/20
11425/11425 [==============================] - 40s 4ms/step - loss: 4.5147 - accuracy: 0.0439
Epoch 17/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.5338 - accuracy: 0.0426
Epoch 18/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.5949 - accuracy: 0.0405
Epoch 19/20
11425/11425 [==============================] - 41s 4ms/step - loss: 4.6109 - accuracy: 0.0396
Epoch 20/20
11425/11425 [==============================] - 39s 3ms/step - loss: 4.6476 - accuracy: 0.0375

In [ ]:
# Get test accuracy
test_loss, test_acc = network.evaluate(X_test, y_test)
print('Test Accuracy: ', test_acc, '\nTest Loss: ', test_loss)

In [ ]:
#https://datascienceparichay.com/article/pandas-merge-dataframes-on-multiple-columns/
#https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html